.footer-container {
    margin-top: auto;
}

.main-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.polynomial-fits {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.fetch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.other-fits {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 400 25px "Josefin Slab", sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

.sequence-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 400 15px "Josefin Slab", sans-serif;
    padding-bottom: 30px;
}

.small-graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section {
    margin-top: 50px;
}
